<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="dashboard">	
	<div class="nav-side-menu">
		 <div class="brand">
		 <img src="images/household_expenses_T.png" class="logo-img" />
		  <p class="logo-title">
      		Expense manager <small>App</small>
    	  </p>
		 </div>
		 
		  <div class="menu-list">
		  	<ul id="menu-content" class="menu-content collapse out">
		  		<li>
                  <a ui-sref="overview">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>                
                  <li>
                  <a href="#">
                  	<i class="fa fa-user fa-lg"></i> Categories
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
		  	</ul>
		  </div>
	</div>
</div>