*.classpath
*.project
*.*~
*.settings

######################
# Directories
######################
/bin/
/build/

######################
# Intellij
######################
/.idea/
######################
# Gradle
######################
**/.gradle/**

######################
# Mac OSX
######################
.DS_Store
/.project
